<div class="container">
  <h2>Usage</h2>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Memory</h5>
      <div class="row justify-content-center">
        <div class="col-4" id="chart-memory"></div>
        <div class="col-4" id="chart-cpu"></div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">CPU</h5>
      <div class="row justify-content-center">
        <div class="col-4" id="chart-memory"></div>
        <div class="col-4" id="chart-cpu"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var chart = c3.generate({
    bindto: '#chart-memory',
    size: {
      width: 280,
      height: 280,
    },
    legend: {
      show: false,
    },
    tooltip: {
      show: false,
    },
    transition: {duration: 350},
    donut: {
      label: {
        format: function (value, ratio, id) {
          return `${Math.round(value)}%`;
        }
      },
    },
    data: {
      columns: [
        ['data1', 10],
        ['data2', 90]
      ],
      type: 'donut',
      colors: {
        data1: '#00c752',
        data2: '#ddd',
      },
    }
});

var chart = c3.generate({
    bindto: '#chart-cpu',
    size: {
      width: 280,
      height: 280,
    },
    legend: {
      show: false,
    },
    tooltip: {
      show: false,
    },
    transition: {duration: 350},
    donut: {
      label: {
        format: function (value, ratio, id) {
          return `${Math.round(value)}%`;
        }
      },
    },
    data: {
      columns: [
        ['data1', 10],
        ['data2', 90]
      ],
      type: 'donut',
      colors: {
        data1: '#326de6',
        data2: '#ddd'
      },
    },
    padding: {top: 0, right: 0, bottom: 0, left: 0},
});
</script>
