<div class="container">
  <h2><%= @entries[:cn][0].sub(/　/,' ') %>さんの現在の状況</h2>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>hoge</th>
          <th>fuga</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>piyo</th>
          <th>hogefugapiyo</th>
      </tbody>
    </table>
</div>
