// Place all the styles related to the create_wizard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.container { margin-top: 15px; }

span { margin: 10px; }

div.d-flex { margin-left: auto; }

div#form-content\[0\] button#minus { display: none; }

div.col-md-2 > label { justify-content: flex-end; }

div.col-md-10 > label { justify-content: unset; }

div.col-md-11 > label { justify-content: unset; }

div#hidden { display: none; }

p#must { color: red}
